### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
# Ignorar la carpeta .idea
.idea/

# Ignorar el archivo de configuración de IntelliJ
*.iml

# Ignorar archivos generados automáticamente en el build (si los hay)
/target/
/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store